body {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
